[Unit]
Description=Ezyadmin Agent daemon

[Service]
Type=simple
ExecStart=/usr/local/ezyadmin/agent/ezyadmin_deamon

[Install]
WantedBy=multi-user.target